body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#experiment-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.image-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%; /* Adjust this for scaling: width: auto; can also work */
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
